.board {
  display: flex;
  justify-content: space-between;
}
.column {
  width: 30%;
  background-color: rgb(105, 105, 105);
  padding: 10px;
  border-radius: 4px;
}
.task-list {
  min-height: 200px;
  padding: 10px;
  background-color: rgb(105, 105, 105);
  border-radius: 4px;
  transition: background-color 0.3s;
}
.task-list.cdk-drop-list-dragging {
  background-color: #e0e0e0;
}
.task {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #9e9e9e;
  color: black;
  border-radius: 4px;
  cursor: move;
}
