html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.vh-100 {
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-auto {
  overflow: hidden !important
}

.card-body {
  max-height: 95vh;
  overflow-y: auto;
}

.gradient-custom {
  background: linear-gradient(30deg, rgb(12, 12, 12) 11.4%, rgb(77, 77, 77) 70.2%);
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid white;
}
