html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.vh-100 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  max-height: calc(95vh);
  overflow-y: auto;
  margin-bottom: 50px
}

.overflow-auto {
  overflow: auto !important;
}

.container {
  height: 100%;
  overflow: hidden;
}

.alert ul {
  list-style-type: none;
  padding-left: 0;
}

.alert ul li {
  margin-bottom: 0.5rem;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  padding-bottom: 1%;
}

.gradient-custom {
  background: linear-gradient(30deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}
